<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{ISO8601}] %-5p %m \(%c{0}\)%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <append>false</append>
        <encoder>
            <pattern>[%d{ISO8601}] %-5p %m \(%c{0}\)%n</pattern>
        </encoder>
        <file>/var/log/diff.log</file>
    </appender>

    <logger name="internal" level="debug"/>

    <root level="warn">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

</configuration>